@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Vidaloka&display=swap');


*{margin:0; padding:0; box-sizing:border-box; list-style:none;}


#header{
    overflow:hidden;
}

.header_nav{
	height:100%;
	width:70px;
    background-color:#ffffff;
    border: 1px solid #797880;
    position:fixed;
    z-index:1;
    
}

.header_nav .logo{
	width:30%;
	height:auto;
	position:absolute;
    left:22px;
	top:44%;
}

.line{
    position:absolute;
    width:70px;
    border:1px solid #797880;
    top:65px;
}

.navp{
    position: absolute;
    width: 110px;
    height: 21px;
    bottom:60px;
    left:-20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
    transform: rotate(-90deg);
    white-space:nowrap;
}

header button{
	position:absolute;
	width:24px;
	height:18px;
	top:25px;
	right:22px;
	border:none;
	background:none;
	cursor:pointer; 
	z-index:2;
}

header button span:first-child{
    text-indent:-99999px;
}

header button span:nth-child(2){
    margin:5px 0;
}

header button span{
	border-radius:6px;
	display:block;
	width:24px;
	height:3px;
	background:#000;
}

header button.on span{
    position:absolute; 
    width:100%; 
}

header button.on span:nth-of-type(1){
    transform:rotate(45deg);
    
}

header button.on span:nth-of-type(2){
    transform:rotate(-45deg);
    margin:0;
}

header button.on span:nth-of-type(3){
    display:none;
}

.nav{
    display:none;
	position:inherit;
    background-color:white;
    height:100%;
    width:100%;
	left:70px;
    border:1px solid #797880;
}

 nav li:after{
    content:""; 
    display:block; 
    clear:both;
}

.nav li a{
    text-decoration:none;
    color:black;
    font-family:Vidaloka;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
}

.nav li:nth-of-type(1){
margin-top:50px;
}

.nav li{
    text-align:left;  
    margin-left: 80px;
}

.nav li:hover a{
     color:#79BCB5;
     text-decoration:none;
}


body{
	width:100%;
	height:100%;
    overflow:hidden;
    position:absolute;
}

.wrapper{
    display:flex;
    flex-direction:row;
    height:100vh;
    width:100vw;
    transform: rotate(90deg)translateY(-100vh);
    transform-origin: top left;
    overflow:hidden;
} 

.outer-wrapper{
    margin-left:70px;
    width:100vh;
    height:100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow:hidden;
    position:relative;
    scrollbar-width: none;
    -ms-overlofw-style:none;
}

::-webkit-scrollbar{
    display:none;
}

.dash{
    position:absolute;
    top:46%;
    width:650px;
    margin-left:100px;
    font-size:55px;
    white-space:nowrap;
    overflow:hidden;
    transform:translateY(-50%);
    color:white;
    border-right:4px solid white;
    animation:type 2.4s steps(26) 1s both,
    blink 700ms steps(26) infinite normal;
    -webkit-animation:type 2.4s steps(26) 1s both,
    blink 700ms steps(26) infinite normal;
    -moz-animation:type 2.4s steps(26) 1s both,
    blink 700ms steps(26) infinite normal;
    -o-animation:type 2.4s steps(26) 1s both,
    blink 700ms steps(26) infinite normal;}

@keyframes type{
    0%{width:0px;}
    100%{width:650px;}
}

@-webkit-keyframes type{
    0%{width:0px;}
    100%{width:650px;}
}

@-moz-keyframes type{
    0%{width:0px;}
    100%{width:650px;}
}

@-o-keyframes type{
    0%{width:0px;}
    100%{width:650px;}
}

@keyframes blink{
    from{border-right:rgba(255,255,255,0.75);}
    to{border-right-color:transparency}
}

@-webkit-keyframes blink{
     from{border-right:rgba(255,255,255,0.75);}
    to{border-right-color:transparency}
}

@-moz-keyframes blink{
     from{border-right:rgba(255,255,255,0.75);}
    to{border-right-color:transparency}
}

@-o-keyframes blink{
     from{border-right:rgba(255,255,255,0.75);}
    to{border-right-color:transparency}
}

.two{
    z-index:1;
    position:absolute;
    width:100vw;
    height:100vh;
    background:black;
    animation: background ease-in-out 1.5s forwards;
    animation-delay:4.5s;
    -webkit-animation:background ease-in-out 1.5s forwards;
    -webkit-animation-delay:4.3s;
    -moz-animation:background ease-in-out 1.5s forwards;
    -moz-animation-delay:5s;
    -o-animation:background ease-in-out 1.5s forwards;
    -o-animation-delay:5s;
}

@keyframes background{
    0%{transform:translateX(0px);
    }
    100%{transform:translateX(-100vw);
    }
}

@-webkit-keyframes background{
    0%{transfrom:translateX(0px);
    }
    100%{transform:translateX(-100vw);
    }
}

@-moz-keyframes background{
    0%{transfrom:translateX(0px);
    }
    100%{transform:translateX(-100vw);
    }
}

@-o-keyframes background{
    0%{transfrom:translateX(0px);
    }
    100%{transform:translateX(-100%);
    }
}

.slide{
    background:white;
    position:relative;
}

.profile{
    width:130px;
    margin-left:-10px;
}

.bg{
    width:1000px;
    margin:-200px 0 0 400px;
    position:absolute;
}

.intro{
    font-family:Vidaloka;
    position: absolute;
    top:13%;
    margin-left:60px;
    width:900px;
}

.intro p:nth-of-type(1){
     font-size:50px;
}

.intro p:nth-of-type(2){
    font-size: 32px;
    line-height:45px;
    margin-top:35px;
}

.intro li{
    display:table-cell;
    position:relative;
    font-family: PT sans;
    font-size:20px;
    top:40px;}

.intro li a{
    display:inline-block;
    margin-right:40px;
    position: relative;
    text-decoration:none;
    color:#C9C9C9;
}


.intro li a:hover{
    color:#79BCB5;
    font-weight:bold;
}

@media screen and (max-height:670px){
.nav li a{font-size:110px;}
}


@media screen and (max-width:1024px){
.nav li{
    margin-left:40px;}

.nav li a{
    font-size:100px;}
}


@media screen and (max-width:950px){
.intro p:nth-of-type(1){
    font-size:45px;
}

.intro p:nth-of-type(2){
    font-size:30px;
    line-height:40px;
}

.dash{
    font-size:45px;
     width:550px;
}

.bg{
    width:700px;
    margin:-200px 0 0 250px;
}

@keyframes type{
    0%{width:0px;}
    100%{width:550px;}
}

@-webkit-keyframes type{
    0%{width:0px;}
    100%{width:550px;}
}

@-moz-keyframes type{
    0%{width:0px;}
    100%{width:550px;}
}

@-o-keyframes type{
    0%{width:0px;}
    100%{width:550px;}
}
}


@media screen and (max-width:800px){
.nav li a{
    font-size:72px;}
    
.intro{
    margin-left:40px;
    width:450px;}

.dash{
    margin-left:40px;
     font-size:40px;
     width:500px;
}

.intro p:nth-of-type(1){
    font-size:40px;
}

.intro p:nth-of-type(2){
    font-size:25px;
    line-height:35px;
    margin-top:40px;
}

@keyframes type{
    0%{width:0px;}
    100%{width:500px;}
}

@-webkit-keyframes type{
    0%{width:0px;}
    100%{width:500px;}
}

@-moz-keyframes type{
    0%{width:0px;}
    100%{width:500px;}
}

@-o-keyframes type{
    0%{width:0px;}
    100%{width:500px;}
}

.intro br{
    display:none;
}
}


@media screen and (max-width:600px){

.header_nav{
	height:70px;
	width:100%;}

.header_nav .logo{
	width:15px;
	height:auto;
    left:25px;
	top:20px;
    transform:rotate(90deg);}

.line{
    display:none;}

.navp{
    display:none;}

#header button{
	right:22px;
	border:none;
	background:none;}

.nav{
	left:0px;
    border:none;}

.nav li a{
    font-size:50px;}

.nav li:nth-of-type(1){
    margin-top:50px;}

.nav li{
    text-align:left;  
    margin-left: 40px;}

.outer-wrapper{
    margin-left:0px;
    margin-top:30px;
}

.bg{
    margin:-200px 0 0 100px;
}
}


@media screen and (max-width:500px){
.intro{
    margin-left:40px;
    width:300px;}

.dash{
     font-size:33px;
     width:400px;
}

.intro p:nth-of-type(1){
    font-size:33px;
}

.intro p:nth-of-type(2){
    font-size:20px;
    line-height:30px;
}

.profile{
    width:120px;}
    

@keyframes type{
    0%{width:0px;}
    100%{width:400px;}
}

@-webkit-keyframes type{
    0%{width:0px;}
    100%{width:400px;}
}

@-moz-keyframes type{
    0%{width:0px;}
    100%{width:400px;}
}

@-o-keyframes type{
    0%{width:0px;}
    100%{width:400px;}
}

}


@media screen and (max-width:414px){
.nav li a{
    font-size:40px;}
    
.dash, .intro{
    margin-left:35px;}
}


@media screen and (max-width:375px){

.dash{
    font-size:26px}
    
@keyframes type{
    0%{width:0px;}
    100%{width:330px;}
}

@-webkit-keyframes type{
    0%{width:0px;}
    100%{width:330px;}
}

@-moz-keyframes type{
    0%{width:0px;}
    100%{width:330px;}
}

@-o-keyframes type{
    0%{width:0px;}
    100%{width:330px;}
}
}


@media screen and (max-width:320px){
.intro{
    top:20%;
    width:220px;
}

.intro p:nth-of-type(1){
    font-size:22px;
    line-height:30px;
}

.intro p:nth-of-type(2){
    font-size:18px;
    line-height:24px;
    margin-top:10px;
}

.dash{
    font-size:22px}
  
@keyframes type{
    0%{width:0px;}
    100%{width:265px;}
}

@-webkit-keyframes type{
    0%{width:0px;}
    100%{width:265px;}
}

@-moz-keyframes type{
    0%{width:0px;}
    100%{width:265px;}
}

@-o-keyframes type{
    0%{width:0px;}
    100%{width:265px;}
}
}

@media screen and (min-width:1450px){
.nav li{
    margin-left:100px;}

.nav li a{
    font-size:130px;}
}

